workflows/news_v1_newsletter_onboarding_manual.json
{
  "name": "News V1 - Newsletter Onboarding (Manual)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 260]
    },
    {
      "parameters": {
        "jsCode": "const newsletters = [\n  { id: 'the-rundown-ai', name: 'The Rundown AI', signup_url: 'https://www.therundown.ai/', rss_url: null },\n  { id: 'bens-bites', name: 'Ben\\'s Bites', signup_url: 'https://www.bensbites.com/', rss_url: null },\n  { id: 'superhuman-ai', name: 'Superhuman AI', signup_url: 'https://www.superhuman.ai/', rss_url: null },\n  { id: 'import-ai', name: 'Import AI', signup_url: 'https://importai.substack.com/', rss_url: 'https://importai.substack.com/feed' },\n  { id: 'ai-snake-oil', name: 'AI Snake Oil', signup_url: 'https://aisnakeoil.substack.com/', rss_url: 'https://aisnakeoil.substack.com/feed' },\n  { id: 'gary-marcus', name: 'Marcus on AI', signup_url: 'https://garymarcus.substack.com/', rss_url: 'https://garymarcus.substack.com/feed' },\n  { id: 'the-batch', name: 'The Batch', signup_url: 'https://www.deeplearning.ai/the-batch/', rss_url: null },\n  { id: 'tldr-ai', name: 'TLDR AI', signup_url: 'https://tldr.tech/ai', rss_url: null },\n  { id: 'alphasignal', name: 'AlphaSignal', signup_url: 'https://alphasignal.ai/', rss_url: null },\n  { id: 'chain-of-thought', name: 'Chain of Thought (Every)', signup_url: 'https://every.to/chain-of-thought', rss_url: null }\n];\n\nreturn newsletters.map((item, index) => ({\n  json: {\n    rank: index + 1,\n    ...item,\n    action: 'Open signup_url and subscribe with recursifai@gmail.com',\n    notes: item.rss_url ? 'RSS already usable; email signup optional but recommended' : 'No reliable public RSS; use Gmail subscription for ingestion fallback'\n  }\n}));"
      },
      "id": "build-targets",
      "name": "Build Newsletter Targets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 260]
    },
    {
      "parameters": {
        "url": "={{$json.signup_url}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "probe-signup-page",
      "name": "Probe Signup Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 260],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nreturn input.map((item) => {\n  const statusCode = item.json.statusCode || null;\n  const ok = typeof statusCode === 'number' ? (statusCode >= 200 && statusCode < 400) : false;\n  return {\n    json: {\n      rank: item.json.rank,\n      id: item.json.id,\n      name: item.json.name,\n      signup_url: item.json.signup_url,\n      rss_url: item.json.rss_url,\n      action: item.json.action,\n      notes: item.json.notes,\n      probe_status_code: statusCode,\n      probe_ok: ok\n    }\n  };\n});"
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 260]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Newsletter Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Newsletter Targets": {
      "main": [
        [
          {
            "node": "Probe Signup Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Probe Signup Page": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
